flows.json
[{"id":"f61daf37.52fbc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8cc51637.38a1","type":"mongodb","z":"","hostname":"database","port":"27017","db":"database123","name":""},{"id":"7d39cdca.537cb4","type":"mqtt-broker","z":"","name":"","broker":"ei-cloud04.ei.thm.de","port":"6002","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"45147cea.c85ea4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3bf9dee9.1d45aa","type":"mongodb out","z":"f61daf37.52fbc","mongodb":"8cc51637.38a1","name":"","collection":"pv","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":760,"y":520,"wires":[]},{"id":"be459459.f69638","type":"inject","z":"f61daf37.52fbc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":300,"wires":[["ca4e7cf.7bdcc8"]]},{"id":"ca4e7cf.7bdcc8","type":"function","z":"f61daf37.52fbc","name":"","func":"msg.payload = {\n    v: 12,\n    c: 323\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":460,"wires":[["3bf9dee9.1d45aa"]]},{"id":"1e40786.edf0a88","type":"mqtt in","z":"f61daf37.52fbc","name":"","topic":"/giessen/pv","qos":"2","datatype":"auto","broker":"7d39cdca.537cb4","x":350,"y":120,"wires":[["1dfa84f0.7251e3","30b0b932.fd90ce"]]},{"id":"1dfa84f0.7251e3","type":"debug","z":"f61daf37.52fbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"30b0b932.fd90ce","type":"json","z":"f61daf37.52fbc","name":"","property":"payload","action":"","pretty":false,"x":520,"y":340,"wires":[["3bf9dee9.1d45aa"]]},{"id":"df7cb270.9ba588","type":"function","z":"f61daf37.52fbc","name":"","func":"msg.payload= global.os.arch()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":600,"wires":[["a9f82b22.5ea0a"]]},{"id":"405ac85e.29d6a8","type":"inject","z":"f61daf37.52fbc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":540,"wires":[["df7cb270.9ba588"]]},{"id":"a9f82b22.5ea0a","type":"debug","z":"f61daf37.52fbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":640,"wires":[]}]